<div class="container">
<h1>¡Compra Exitosa!</h1>
<p>Gracias por confiar en GianCommerce. Hemos enviado un correo electrónico con el ticket de tu compra.</p>
<h2>Vuelva Prontos!</h2>
<img src="/img/apu.png" alt="apu">
<a href="/views/products">Volver a la Tienda</a>
</div>
<link rel="stylesheet" href="/css/successPurchase.css">